bcrypt
email_validator
flask
flask-babel
flask-executor
flask-mailman
flask-migrate
flask-minify
flask-security-too
flask-session
flask-sqlalchemy
flask-reuploaded
flask-wtf
mysqlclient
python-dotenv
python-slugify
requests
git+https://github.com/jokerinteractive/flask-resize@master
