{% extends 'base.j2' %}
{% from 'macros/form.j2' import base, btn, checkbox, render_field_errors %}
{% set meta_title = 'Авторизация' %}
{% block content %}
<section class="jumbotron">
  <div class="container">
    <div class="jumbotron__wrapper">
      <h3 class="title title--h2">Вход в личный кабинет</h3>
      <form class="form form--security" action="{{ url_for_security('login') }}" method="post" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        {{ render_field_errors(login_user_form.csrf_token) }}
        {{ base(login_user_form.email) }}
        {{ base(login_user_form.password) }}
        {{ checkbox(login_user_form.remember) }}
        {{ btn(login_user_form.submit, value='Войти', class='button') }}
        <div class="form__field form__field--mt-20">
          <p class="main__text">Ещё не зарегистрировались? <a class="link" href="{{ url_for_security('register') }}">Регистрация</a></p>
          <p class="main__text">Забыли пароль? <a class="link" href="{{ url_for_security('forgot_password') }}">Сброс пароля</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
  <script>
    const form = document.querySelector('.form');
    const submitBtn = form.querySelector('[type="submit"]');
    form.addEventListener('submit', () => {
      submitBtn.disabled = true;
    });
  </script>
{% endblock %}
