{% extends "base.j2" %}
{% block content %}
<h1>Введи код ТН ВЭД</h1>
<div class="container mt-5">
   {% for ved in ved_db %}
    <div class="alert alert-info">
        <h2>{{ ved.title }}</h2>
        <p>{{ ved.intro }}</p>
        <p><b>Дата: {{ ved.date.date() }}</b></p>
        <a href="/parts/{{ ved.id }}" class="btn btn-warning">Детальнее</a>
    </div>
   {% endfor %}
</div>
{% endblock %}
