{% extends 'admin_base.j2' %}

{% block content %}
  <div class="container">
    <h2>Главная страница админки</h2>
    <ul class="icons major">
      <li><a href="{{ url_for('admin.index') }}">Главная</a></li>
      {# <li><a href="{{ url_for('admin_news.index') }}">Новости</a></li> #}
      <li><a href="{{ url_for('admin.users') }}">Пользователи</a></li>
      {# <li><a href="{{ url_for('admin_feedback.index') }}">Отзывы</a></li> #}
      {# <li><a href="{{ url_for('admin_page.index') }}">Страницы</a></li> #}
      {# <li><a href="{{ url_for('admin_contacts.index') }}">Контакты</a></li> #}
    </ul>
  </div>
{% endblock %}
