{% extends "base.j2" %}
{% block content %}
<p>Web-приложение по подбору кодов ТН ВЭД</p>

  <section class="questions">
      <div class="container">
        <div class="questions__wrapper">
          <div class="questions__wrapper-text">
            <h2 class="title title--h2">Остались вопросы?</h2>
            <p>Оставь заявку и мы ответим</p>
          </div>
          <div class="form form--light-text">
            <form action="{{ url_for('core.about') }}" method="POST">
              {{ form.hidden_tag() }}
              <div class="form__field form__field--mt-20">
                {{ form.first_name(size=32, placeholder=form.first_name.label.text) }}
                {% for error in form.first_name.errors %}
                <span style="color: red">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="form__field">
                {{ form.last_name(size=32, placeholder=form.last_name.label.text) }}
                {% for error in form.last_name.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="form__field form__field--last">
                {{ form.email(size=32, placeholder=form.email.label.text) }}
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="form__field form__field--last">
                {{ form.text(size=32, placeholder=form.text.label.text) }}
                {% for error in form.text.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="form__field">
                <button class="button" type="submit">Оставить заявку</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
