{% extends "base.j2" %}



{% block content %}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Подбор кодов ТНВЭД</h1>
        <div id="content">
        <form action="" method="POST">
        
            {{ form.hidden_tag() }}
        
        <div class="items">
        
            <div class="item">
                <i>Поиск</i>
                <br><br>
                {{ form.find.label }}  {{ form.find() }}
                <br><br>
                {{ form.findButton }}
            </div>
        
        </div>
        </form>
        </div>
      <br><a href="#" class="btn btn-lg btn-secondary">Узнай больше</a></main></br>
    </p>
  </main>
 
{% endblock %}
