{% extends "base.j2" %}
{% block content %}
<h1>Редактировать код ТН ВЭД</h1>
<div class="container mt-5">
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{ ved_db.title }}" placeholder="Введите заголовок"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите код">{{ ved_db.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Ведите текст">{{ ved_db.text }}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}
